.deep_div_custom {
  display: inline-block;
	line-height: 11px;
	padding: 2px 7px 2px 7px;
	color: #67c1f5;
	background-color: rgba( 103, 193, 245, 0.2 );
	box-shadow: none;
	margin-right: 2px;
	border-radius: 2px;
	cursor: pointer;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	top: -4px;
	margin-bottom: 2px;
}
